<div class="container-narrow">
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li {{bindAttr class="isHome:active"}}>{{#linkTo 'index'}}Home{{/linkTo}}</li>
      <li {{bindAttr class="isAbout:active"}}>{{#linkTo 'about'}}About{{/linkTo}}</li>
      <li {{bindAttr class="isResume:active"}}>{{#linkTo 'resume'}}Resume{{/linkTo}}</a></li>
      <li><a href="https://github.com/evansagge" target="_blank">Portfolio</a></li>
    </ul>
    <h2 class="muted">Evan Sagge</h2>
  </div>

  <hr />

  <div class="row-fluid">
    <div class="span12">
      {{outlet}}
    </div>
  </div>

  <hr />
  <div class="footer">
    <p>&copy; Evan Sagge 2012</p>
  </div>
</div>