/*
 *= require_self
 *= require bootstrap_and_overrides
 */

form#login {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0px auto 20px;

  input[type=text], input[type=email], input[type=password] {
    width: 290px;
  }
}